#vert {
    display: grid;
}

#vert>div {
    background-color: #2ecc71;
    width: 80%;
    height: 5%;
    position: absolute;
    left: 1%;
    top: 1%;
}

#bleu {
    display: grid;
}

#bleu>div {
    background-color: #2980b9;
    width: 18%;
    height: 5%;
    top: 1%;
    right: 1%;
    position: absolute;
}

#rougedouble {
    display: grid;
}

#rougedouble>div {
    background-color: #e74c3c;
    width: 33%;
    height: 14%;
    top: 6%;
    left: 1%;
    position: absolute;
}

#orangec {
    display: grid;
}

#orangec>div {
    background-color: #e67e22;
    width: 33%;
    height: 7%;
    top: 6%;
    right: 33%;
    position: absolute;
}

#gris {
    display: grid;
}

#gris>div {
    background-color: #95a5a6;
    width: 32%;
    height: 7%;
    top: 6%;
    right: 1%;
    position: absolute;
}

#jaune {
    display: grid;
}

#jaune>div {
    background-color: #f39c12;
    width: 21%;
    height: 7%;
    top: 13%;
    right: 45%;
    position: absolute;
}

#vertp {
    display: grid;
}

#vertp>div {
    background-color: #16a085;
    width: 22%;
    height: 7%;
    top: 13%;
    right: 23%;
    position: absolute;
}

#orangef {
    display: grid;
}

#orangef>div {
    background-color: #d35400;
    width: 22%;
    height: 7%;
    top: 13%;
    right: 1%;
    position: absolute;
}

#bleun {
    display: grid;
}

#bleun>div {
    background-color: #2c3e50;
    width: 98%;
    height: 20%;
    top: 20%;
    right: 1%;
    position: absolute;
}